:root {
    --primary-background: rgb(189, 189, 189);
    --primary-text: #202020;
    --sblack: rgba(17, 17, 17, 0.932);
}

/* reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Libre Caslon Text', sans-serif;
    color: var(--primary-text);
    background-image: radial-gradient(currentColor 0.5px, transparent 0.5px),
        radial-gradient(black 0.5px, rgb(236, 236, 236) 0.5px);
    background-size: calc(20 * 1px) calc(20 * 1px);
    background-position: 0 0, calc(10 * 5px) calc(10 * 5px)
}

a {
    text-decoration: none;
    color: var(--primary-text);
}

p {
    line-height: 1.3;
}

a:hover {
    text-decoration: none;
}

.toolbar {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 5vh;
    padding-left: 5%;
    padding-right: 5%;
    opacity: 1.0;
    color: white;
    background-color: var(--sblack);
    justify-content: space-between;
}

.toolbar-address {
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: fit-content;
}

.source-icon {
    height: 4vh;
    width: 20;
}

.toolbar div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar p {
    margin: auto;
    font-family: Consolas, monaco, monospace;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}



.content {
    position: absolute;
    top: 2.5vh;
    left: 10%;
    right: 10%;
    max-width: 80vw;
    /* min-width: 1100px; */
    margin: auto;
    background-color: rgb(236, 236, 236);
}

.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.box {
    display: grid;
    margin: auto;
    height: 95%;
    width: 95%;
    padding: 5vh 3vh;
}

.white {
    text-align: center;
    align-items: center;
}

.black {
    background-color: var(--sblack);
    color: white;
    text-align: right;
    font-size: 28px;
    overflow: hidden;
}

.mugshot {
    width: 20vh;
    height: 22.5vh;
}

.contact-icons {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.icons {
    height: 5vh;
    width: 20;
}

.sub-icons {
    height: 3vh;
    width: 20;
    padding-right: 0.5rem;
}

.nav-options {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    list-style-type: none;
    gap: 0.5em;
}

.nav-options li {
    width: 70%;
}

.nav-options a {
    padding: 0.1em;
    color: white;
    display: block;
    transition: all 0.5s ease;
}

.nav-options a:hover {
    color: black;
    background-color: white;
}

.tabs {
    display: flex;
    width: 100%;
    height: 10vh;
    margin-top: 2vh;
    margin-bottom: 4vh;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.tab-btn {
    position: relative;
    display: inline-flex;
    margin: 1.25rem;
    text-decoration: none;
    height: 8vh;
    width: 20vw;
    border: 1.5px solid var(--sblack);
    background-color: rgb(236, 236, 236);
}

.tab-btn:active,
.tab-btn:focus {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.tab-btn>label {
    display: inline-flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
}

.vl {
    border-left: 2px solid var(--sblack);
    height: 100%;
}

.tab-content {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.radio-btn {
    display: none;
}

.tab-content input:checked+.tab-content-box {
    display: block;
}

.tab-content-box {
    display: none;
    padding: 5vh 3vh;
}

.section-name {
    border-top: 4px solid rgb(116, 115, 115);
    border-bottom: 2px solid rgb(116, 115, 115);
    padding: 0.4rem 0 0.2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.child-title {
    font-weight: 500;
}

.child-sub {
    font-weight: 400;
    margin-left: 0.5rem;
    margin-right: 2.5rem;
}

.child-summary {
    font-style: italic;
    color: rgb(62, 62, 62);
    margin-right: 2.5rem;
    margin-left: 1.5rem;
}